.container {
   margin: 20px auto;
   width: 1024px;
   font-family: Arial, sans-serif;
   font-size: 18px;
   line-height: 1.5;
   background-color: hwb(0 90% 8%);
   box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
 }
.body {
   box-sizing: border-box;
   background-color: #f5f5f5;

}

.two_columns{
   display: flex;
}

.left_column{
   width: 40%;
}
.right_column{
   width: 60%;
   padding: 45px;
}

header{
   text-align: center;
   padding: 30px;
   
}
header img{
   margin-bottom: 30px;
   display: inline-block;
   border-radius: 50%;
   width:50%;
   height:50%;
   object-fit: cover;
   overflow: hidden;
   width: 150px;
  height: 150px;
  border: 10px solid cornflowerblue;
}
   header h1{
      margin-bottom: 10px;
      text-transform: uppercase;
      line-height: 2px;
      color: dimgray;
   }

   header h2{
      margin-bottom: 10px;
     

   }

.right_column h3{
   flex: 1;
   vertical-align: middle;
   font-weight: 600;
   text-transform: uppercase;
   color: cornflowerblue;
   border-bottom: 1px solid cornflowerblue;
   
}   

main{
   padding: 0 40px;
  \\ background-color: #C0C0C0	;
}
main h3{
   width: 136px;
   margin: 40px auto 20px;
   padding: 5px 20px;
   text-align: center;
   color: cornflowerblue;
   border-bottom: 1px solid cornflowerblue;

}

.right_column p{
   color: dimgray;
   text-indent: 15px;
   text-align: justify;
}
main p{
   color: dimgray;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   font-size: 0.8rem;

   background-color: darkgray;
 }

.logo-rss{
   width: 100px;
}

.link-footer{
   color: #f5f5f5;
   text-decoration: none;
   font-size: medium;
  
 }

pre{
   margin-left:-150px;
   padding-left: 0;
   align-items: flex-start;
   display: flex;
}