/* -------------------- constants ---------------------- */
:root{
    --color-main:#499A18;
    --color-secondary:#E06733;
    --color-background-main:#EDF2EC;
    --color-background-secondary:#FFFFFF;
    
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
     font-family:'Inter', sans-serif;
}

.wrapper{
    max-width: 1440px;
    margin: auto;
    padding-left: 109px;
    padding-right: 109px;
}

/* -------------------- styles for text  ---------------- */
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color:var(--color-main)
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-secondary);
}

h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}
.color__text{
    color:var(--color-main);
}

.color__text_second{
    color: var(--color-secondary);
}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.style__header p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

a.home__nav:active, 
a.home__nav:hover, 
a.home__nav{
  text-decoration: none;
  color: var(--color-secondary);
  list-style: none;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;

}
a.link__nav:active, 
a.link__nav:hover, 
a.link__nav{
    text-decoration: none;
    list-style: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #000;
    cursor: pointer;
}
/* -------------------- sections -----------------------------*/
header{
    background-color:var(--color-background-main);
    /* padding: 52px 0 60.96px 0;  */

}

main{
    background-color:var(--color-background-main);
    /* padding: 52px 0 60.96px 0; */
}

.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navig{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 452px;
    height: 50px;
}

.navig__list{
    list-style: none;
    cursor: pointer;

}



.Logo{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

.logo__cont{
    padding-left: 111px;
}

.welcome{
    background-color: var(--color-background-main);
}

.welcome__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 109px 62px; */
}

.welcome__content__right{
    width: 549px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
   
}
.welcome__leafs{
    width: 448.8px;
    height: 407.36px;
       
}    

.about{
    background-color: var(--color-background-secondary);
}

.about__wrapper{
    display: flex;
    align-items:center ;
    /* padding: 93px 109px; */
}
.about__header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100%/2.5);
    position: relative;
    opacity: 1;

}
.about__img{
    display: flex;
}
.about__content{
    display: flex;    
    gap: 153px;
}
/* .about__content{
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    width: 605px;
    height: 350px;
    left: 109px;
    top: 161px;
} */
/* .houseplant{
    width: 464px;
    height: 479px;
    left: 867px;
    top: 93px;
} */
.staffs__hover{
    position: absolute;
    /* margin: auto; */
    padding-top: calc(15%);
    
}
.staffs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    grid-template-areas:
    "grid__box_4 grid__box_3 grid__box_3"
    "grid__box_2 grid__box_2 grid__box_1"
    ;
}
.grid__box_1{
    display: grid;
  grid-area: grid__box_1;
  justify-content: end;
}
.grid__box_2{
   grid-area:grid__box_2 ;
   display: grid;
   justify-content: end;
}
.grid__box_3{
    grid-area: grid__box_3;
    display: grid;
    justify-content: start;
}
.grid__box_4{
    grid-area: grid__box_4; 
    display: grid;
    justify-content: start;
}
.grid__box__text{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.staffs__hover{
display: none;

}
.about__header:hover .staffs__hover{
    display: block;
}

/* _________________services________________________  */
.services{
    background-color: var(--color-background-main);
}

.services__wrapper{
    display: flex;
    flex-direction: column;
}

.services__description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1009px;
    /* padding: 40px 109px 90px; */
}

.services__buttons{
    display: flex;
    gap: 38px;
}
.services__title{
    width: 306px;
    height: 94px;
}

.services__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 1222px ; */
    /* height: 955px; */
    /* padding: 0px 109px 119px 109px; */
    
}
.services_item{
    width: calc(100% / 3);
    margin-bottom: 55px;
}
.style__cards{
    width: 330px;  
}

.style__img {
    border-radius: 0 0 20px 20px;
    width: 330px;
    height: 350px;
 
  }

  .style__info {
    text-align: center;
    word-break: break-word;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    border: 1px solid #E3E1D5;
   
  }

.prices{
    background-color: var(--color-background-secondary);
}

.prices__wrapper{
    display: grid;
    /* padding: 40px 104px; */
    grid-template-rows: 1fr  ;
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-template-areas: 
    "prices prices__description"
    "prices__form prices__description"
    ;
}
.prices__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 452px;
    height: 191px;
    text-align: right;
    grid-gap: 39px;
}


#prices{
    grid-area: prices;
}
#prices__description{
    grid-area: prices__description;
}
#prices__form{
    grid-area: prices__form;
}
    

.contacts{
    background-color: var(--color-background-main);
    
}

.contacts__wrapper{
    display: flex;
    justify-content: space-around;
}

.contacts__wrapper h2{
    padding-top: 60px;
    margin: 0;
}
.contact__img{
    padding-top: 53px;
    
}
.button__wrapp{
    display: flex;
    padding: 148px 109px 0 0 ;
}
footer{
    background-color: var(--color-background-secondary);
}

.footer__wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}
.social__list{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    list-style: none;
}

/* ---------------------- elements ------------------------*/

.button_first{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: var(--color-background-secondary);
    color: #000;
    border: 2px solid #E06733;
    border-radius: 10px;
    cursor: pointer;

    padding: 14px 27px;
}
.button_first:hover{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:var(--color-background-secondary);
    background: var(--color-secondary);
    border: 2px solid #E06733;
    border-radius: 10px;
    cursor: pointer;

    padding: 14px 27px;
}

.button_first:active{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:var(--color-background-secondary);
    background: var(--color-secondary);
    border: 2px solid #E06733;
    border-radius: 10px;
    cursor: pointer;

    padding: 14px 27px;
}

.button_second:hover{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-background-secondary);
    cursor: pointer;
    background-color: var(--color-secondary);
    border: 1px solid #E06733;
    border-radius: 5px;

    padding: 12px 40px
}
.button_second{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-secondary);
    cursor: pointer;
    background-color: var(--color-background-secondary);
    border: 1px solid #E06733;
    border-radius: 5px;

    padding: 12px 40px
}

.dropdown__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    width: 332px;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    list-style: none;
}

.select__button{
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    left: 145px;
    top: 347.01px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    border: 0;
}

.select__button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}
.contact__button{
    width: 450px;
    height: 50px;
}
.contact__button{
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border: 0;
}

.contact__button{
    display: flex;
    flex-wrap: nowrap;
    justify-items: baseline;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 17px;
    
}
.contact__button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    cursor: pointer;

}
