html{
     font-family: Arial, sans-serif;

}
*{
    color: #000000;
}
body {
    background: #dfc369			;
 color: #fff;
 
}
.foto{
   position: relative;
   width: auto;
   height: auto;
   left: 340px;
   bottom: -30px;
}

h1{
    color:#0000FF;
    margin-bottom: 0.25em;
    margin-top: -210px;
}

h2{
    color: #000000;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 1em;
    
}
h3{
    color: #000000;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
    text-decoration: underline;

}
.description{
    margin-bottom: 2em;
    font-size: 20px;


}

a{
    color:#0000FF;
}
.contacts{
    margin-bottom: 2em;
}
.contact{
    display: flexbox;
    align-items: center;
    font-weight: bold;
    font-size:1em;
    

}
.contact__value{
    margin-bottom: 1em;
    font-weight: 1;
    text-decoration: underline;
}

.skills{
    margin-bottom: 2em;
    font-size: 20px;


}
.examplecode{
    margin-bottom: 2em;
    font-size: 20px;

}
.experience{
    margin-bottom: 2em;
    font-size: 20px;


}
.education{
    margin-bottom: 2em;
    font-size: 20px;

}
.cv{
    max-width: 900px;
    margin: auto;
}
footer{
    text-align: center;
    color: #fff;
    background: #03949edc;
    margin-top: 20px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
   .logo-rss{
    width: 70px;
}

.link-footer{
    color: #fff;
    text-decoration: none;
  }

  .footer{
    border-radius: 0;
    display: flex;
    justify-content: space-evenly;
  }